@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles for Inspo-Verse */
:root {
  --primary-color: #00f3ff;
  --secondary-color: #bc13fe;
}

body {
  @apply bg-slate-900 text-slate-100 font-sans antialiased;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neon-blue;
}
